<div *ngIf="mode == 'LIST'">
  <h3>All of your contacts</h3>
  <div *ngIf="contacts.length == 0">
      <span class="muted">Please <a href="javascript:false;" (click)="mode = 'CREATE'">add</a> new contacts</span>
  </div>

  <div *ngIf="contacts.length > 0">
    <ul class="contact-list">
      <li *ngFor="#c of contacts">
          {{c.firstName}} {{c.lastName}}
      </li>
    </ul>
  </div>
</div>

<div *ngIf="mode == 'CREATE'">
  <contact-form (contactCreated)="handleContactCreate($event)"></contact-form>
</div>
